*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
database/seeders/ApiKeySeeder.php
.vercel
skenario_demo_video.md
Shopee_mass_upload_2026-06-12_basic_template.xlsx
ComPro-Laporan Akhir_dosen_kelompok.docx
ComPro-Proposal_Anggi Zafia_11-04-01_CORRECTED.md
ComPro-SDD_Anggi Zafia_warasa_CORRECTED.md
export_shopee_must.txt
Kalkulator Biaya Shopee.mhtml